@{
    ViewBag.Title = "Контакты";
}

<div class="wrapper">
    <h3 style="text-align:center;">Контакты</h3>

    <div class="ico-wrap">
        <i class="fa fa-map-marker ico-contact"></i>
    </div>
    <div class="descript-wrapper">
        <h4 class="aio-icon-title">Наш фактический адрес:</h4>
        <div class="aio-icon-description">
            Rue Philippe-Plantamour 37,
            <br> 1201 Genève, Швейцария
        </div>
    </div>

    <span class="clearfix"></span>

    <div class="ico-wrap">
        <i class="fa fa-envelope ico-contact"></i>
    </div>
    <div class="descript-wrapper">
        <h4 class="aio-icon-title">Электронная почта:</h4>
        <div class="aio-icon-description">
            Wine&MeatCliensService@Wine&Meat.com
            <br>Wine&MeatOffers@Wine&Meat.com
        </div>
    </div>

    <span class="clearfix"></span>

    <div class="ico-wrap">
        <i class="fa fa-phone ico-contact"></i>
    </div>
    <div class="descript-wrapper">
        <h4 class="aio-icon-title">Наши Телефоны:</h4>
        <div class="aio-icon-description">
            +41 22 310 00 44
            <br>+41 78 691 13 78
        </div>
    </div>

    <span class="clearfix"></span>

</div>
<img class="quote" src="~/staticElements/pictures/25431177550087.5c8a95bc512ee.jpg" width="900" height="650">
