@{
    ViewBag.Title = "Как нас найти";
}
<h2>@ViewBag.Title</h2>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9022.013258201463!2d6.145070640025487!3d46.21330237548463!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478c65247eeb1a1f%3A0x4a93b6b7e35200a2!2sThe%20Hamburger%20Foundation%20-%20P%C3%A2quis!5e0!3m2!1sru!2sru!4v1639954822089!5m2!1sru!2sru" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
<h3>@ViewBag.Message</h3>

