@{
    ViewBag.Title = "Главная";
}

            <div class="container">
                <div class="row">
                    <div class="intro-box">
                        <div class="intro">
                            <h1>Ресторан Wine&Meat</h1>
                            <p>“... мы хорошо и недорого ели, хорошо и недорого пили и хорошо спали, и нам было тепло вместе, и мы любили друг друга... ”</p>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <section id="about" class="about section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <h2 class="title">О нас</h2>
                        <p>
                           Ресторан средиземноморской и европейской кулинарии
                        </p>
                        <img src="~/staticElements/pictures/W4AJEbNJJ5w.jpg">
                    </div>
                </div>
            </div>
        </section>
        <section class="purpose section">
            <div class="container">
                <h2 class="title">Почему именно мы</h2>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="vira-card">
                            <div class="vira-card-header">
                                <div class="card-icon">
                                    <span class="fa fa-diamond" aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class="vira-card-content">
                                <h3>Вино</h3>
                                <p>
                                    Подберём для Вас несколько вариантов вин, расскажем о каждом: вкус, цвет, аромат. И вот пазл идеального ужина сложился, а то самое вино уже в Вашем бокале
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="vira-card">
                            <div class="vira-card-header">
                                <div class="card-icon">
                                    <span class="fa fa-cogs" aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class="vira-card-content">
                                <h3>Много вина</h3>
                                <p>
                                    В нашем ресторане Вы не только сможете продегустировать лучшие вина Европы, но и получить консультацию у специалистов. Они помогут Вам разобраться и найти СВОЁ вино.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="vira-card">
                            <div class="vira-card-header">
                                <div class="card-icon">
                                    <span class="fa fa-bicycle" aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class="vira-card-content">
                                <h3>Мясо</h3>
                                <p>
                                    Можно бесконечно перечислять достоинства наших стейков, говорить с упоением об их сочности и аромате, но какие бы слова мы не подобрали, не найдётся тех, что опишут наслаждение так точно, как это делают ощущения
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="expertise" class="expert">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6 bg-img">
                        <div></div>
                    </div>
                    <div class="col-sm-5 section">
                        <h2 class="title">Мяса нужно еще больше</h2>
                        <div id="expert-slider" class="owl-carousel">
                            <div class="item">
                                <p>
                                    Только отборное и самое свежее мясо становится стейком, который попадает на Ваш стол в нашем ресторане Wine&Meat. Мы предъявляем жёсткие требования и выбираем только мясо молодых бычков, чтобы Вы могли наладиться, нежным и ароматным стейком.
                                </p>
                            </div>
                            <div class="item">
                                <p>
                                    Вам только нужно выбрать прожарку, но если Вы затрудняетесь - не беда, наши официанты с радостью порекомендуют подходящую для Вашего стейка. Остаётся только наслаждаться вкусом.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="vira-quote section bg-img">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <img class="quote" src="~/staticElements/pictures/vQGQ-0zwqdg.jpg"width="500" height="650">
                        <p>
                            «С каким ощущением или процессом вы можете сравнить приготовление блюда? Для меня создание блюда до финальной точки похоже на бег. Я обожаю бегать и практически те же эмоции ощущаю, работая над новым меню. Ты можешь выйти из дома в плохом настроении, чувствуешь какой-то груз, мысли в кучу, и начинаешь бежать. Бег помогает сконцентрироваться, ты бежишь и думаешь, думаешь и бежишь, и все каким-то образом офигительно встает по своим полочкам. И вот, когда ты пробежал свои 10 км, заходишь обратно домой и физически ощущаешь приток крови к голове, тебя буквально бросает в пот, и само собой приходит понимание – все должно быть точно так и никак иначе, раньше было плохо, а сейчас все круто. И это настоящий экстаз.».
                        </p>
                        <p class="author">Шеф-повар Вольфганг Пак</p>
                    </div>
                </div>
            </div>
        </section>