@{
    ViewBag.Title = "Меню";
}
<h2>@ViewBag.Title</h2>
<img class="quote" src="~/staticElements/pictures/_pMaOpHbPPY.jpg">
<img class="quote" src="~/staticElements/pictures/fH40RvIX5Rs.jpg">
<h3>@ViewBag.Message</h3>

<p>Полноё меню вы получите от официантов.</p>
